<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<title>Alexey Michurin | http://michurin.github.io/</title>
<style>
body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #eee;
  text-shadow: 0 1px 0 #fff;
  color: #000;
  padding: 0;
  margin: 3em;
}
h1, h2, h3 {
  color: #333;
}
a {
  text-decoration: none;
  color: #007;
}
a:hover {
  text-decoration: underline;
}
.info {
  color: #777;
}
.info a {
  color: #070;
}
.digit {
  color: #510;
}
</style>
</head>
<body>

  <h1>Alexey Michurin</h1>

  <h2>Projects</h2>

  {%- for section in data.sections %}
  <h3>{{ section.title }}</h3>
  <p>{{ section.desc }}</p>
  <ul>
    {%- for repo in section.repos %}
    <li><a target="_blank" href="https://github.com/michurin/{{ repo }}" title="github">{{ repo }}</a><span class="info">:
      {{ git[repo].lang -}}
      {% if git[repo].stars != 0 %}, stars: <span class="digit">{{ git[repo].stars }}</span>{% endif -%}
      {% if git[repo].forks != 0 %}, forks: <span class="digit">{{ git[repo].forks }}</span>{% endif -%}
      {% if repo in cov %}, <a target="_blank" href="https://app.codecov.io/gh/michurin/{{ repo }}"  title="codecov">{{ cov[repo].coverage }}%</a>{% endif -%}
      {% if repo in data.gh_page %}, <a target="_blank" href="https://michurin.github.io/{{ repo }}/" title="online">page</a>{% endif -%}
      {% if repo in data.webstore %}, <a target="_blank" href="{{ data.webstore[repo] }}" title="chrome webstore">webstore</a>{% endif -%}
      {% if repo in data.googlecode %}, <a target="_blank" href="{{ data.googlecode[repo] }}" title="archive">googlecode</a>{% endif -%}
    </span><br/>
    {{- git[repo].desc -}}</li>
    {%- endfor %}
  </ul>
  {%- endfor %}

  <h2>About</h2>

  <ul>
    <li>Current position: Backend Developer at <a target="_blank" href="https://www.avito.ru/">Avito</a> (owner <a target="_blank" href="https://www.naspers.com/">Naspers</a>)</li>
    <li>Previous positions:
      <ul>
        <li><a target="_blank" href="https://gett.com/">Gett</a>: Payments, Fraud prevention: Golang, PostgreSQL, Node</li>
        <li><a target="_blank" href="https://yandex.com/">Yandex</a>: Advertising, Weather forecast: Python, Perl, MapReduce, MongoDB</li>
        <li><a target="_blank" href="https://www.beeline.ru/">Beeline</a>: Billing/inventory: Python, Perl, MySQL</li>
      </ul>
    </li>
    <li>Skills:
     Linux,
     Golang,
     Python,
     Perl,
     shell,
     JavaScript (Node),
     network,
     MySQL,
     PostgreSQL
     MapReduce,
     MongoDB,
     redis,
     svn/hg/git,
     C/C++,
     Qt
    </li>
    <li>Education: <a target="_blank" href="http://www.msu.ru/en/">Lomonosov Moscow State University</a></li>
    <li>Life: wife, daughter</li>
    <li>Residence: Moscow, Russia</li>
    <li>First language: russian</li>
    <li>Misc:
      <a target="_blank" href="http://projecteuler.net/profile/michurin.png">80 pointes (level 3)</a> on
      <a target="_blank" href="https://projecteuler.net/">Project Euler</a>
    </li>
    <li>Wikipedia contribution:
      translation of <a target="_blank" href="https://en.wikipedia.org/wiki/Raft_%28computer_science%29">Raft (computer science)</a>:
      <a target="_blank" href="https://ru.wikipedia.org/wiki/%D0%90%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC_Raft">Алгоритм Raft</a>
      <span class="info">(russian)</span></li>
    <li>Outdated CV: <a target="_blank" href="https://github.com/michurin/warehouse/blob/master/cv/michurin.pdf">michurin.pdf</a></li>
    <li>Abandoned personal page: <a target="_blank" href="http://www.michurin.net/">www.michurin.net</a> <span class="info">(russian)</span></li>
    <li>Just for fun project: <a target="_blink" href="http://www.1000mines.com/">Infinite minesweeper puzzle game</a></li>
  </ul>

  <h2>Contacts</h2>

  <ul>
    <li>E-mail: a.michurin [at] gmail.com</li>
    <li>Phone: 2³×3×5²×1609×81901+one</li>
  </ul>

</body>
</html>
